*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
  color: #333;
  min-height: 100%;
  background-image: url(../assets/images/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  width: 40%;
  font-size: 5.0rem;
  text-align: center;
  margin: 10rem auto 0 auto;
}

h2 {
  font-family: 'Open Sans';
  color: #1AB61B;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

h4 {
  color: #333;
  text-align: center;
}

.task-heading {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 2.75rem;
  color: #fff;
  background-color: #1AB61B;
  text-align: center;
}

.icons {
  position: absolute;
  top: -50px;
  right: 0;
  border-top: none !important;
}

th {
  border-bottom: 1px solid #1AB61B;
  font-size: 2.0rem;
  vertical-align: bottom !important;
  padding-bottom: 0px !important;
}

.task-list {
  width: 80%;
  height: 80%;
  text-align: center;
  margin: 0px auto 50px auto;
  background-color: #F9F9F9;
  position: relative;
}

td {
  text-align: left;
  height: 75px;
  vertical-align: middle !important;
}

#settings {
  float: left;
}

#desc, #done {
  background-color: #F1F1F1;
}

#done {
  text-align: center;
  vertical-align: middle;
}

#completed {
  color: #1AB61B;
}

#warning {
  color: #dd3333;
  float:left;
}

.checkbox {
  position: relative;
  /*top: -0.375rem;*/
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 2.2rem;
  height: 2.2rem;
  border: 2px solid #DBDBDB;
}

.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 1.0rem;
  border-color: #1AB61B;
  border-top-style: none;
  border-right-style: none;
}

.checkbox:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2.0rem;
  height: 2.0rem;
  background: #fff;
  cursor: pointer;
}

.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}*/

/*.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

form {
  max-width: 750px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 0;
  font-weight: 100;
}

.form-group {
  background-color: #fff;
}

input[type="text"],
input[type="date"],
textarea,
select {
  background: rgba(032, 266, 033, 0.1);
  border: 1px solid #777;
  font-size: 20px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: transparent;
  color: #000;
  margin-bottom: 25px;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  border: 2px solid #1AB61B;
  box-shadow: 0 0 5px rgba(032, 266, 033, 1);
}

.label-text {
  font-size: 2.3rem;
  font-weight: 200;
  font-family: 'Open Sans';
  color: #8B8C8C;
}

.button-group {
  text-align: center;
}

.btn {
  padding: 10px 30px 10px 30px;
  color: #1AB61B;
  background-color: transparent;
  font-size: 28px;
  text-align: center;
  font-style: normal;
  border-radius: 10px;
  /*width: 30%;*/
  border: 1px solid #1AB61B;
  border-color: #1AB61B;
  margin-bottom: 10px;
  margin-top: 10px;
  transition-property: background;
  transition-duration: .25s;
  transition-timing-function: linear;
}

.btn:hover {
  background-color: #1AB61B;
  border-color: #1AB61B;
  color: #fff;

}

.btn:focus {
  background-color: #1AB61B;
  border-color: #1AB61B;
  color: #fff;
}

.btn:focus,.btn:active {
   outline: none !important;
}

pre {
  width: 300px;
  margin-left: 25px;
}

[ng-click] {
  cursor: pointer;
}

.material-icons.md-36 {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.54);
  float: right;
  margin-left: 10px;
  /*color: rgba(255, 255, 255, 1)*/
}

.material-icons.md-36 {
  /*font-size: 36px;*/
  color: rgba(0, 0, 0, 0.54);
  float: right;
  margin-left: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgba(255,255,255, 0.5);
  text-decoration: none;
}

a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

/* Start of history template styling */

#historyTitle {
  text-decoration: line-through;
}

#notCompleted {
  color: #1AB61B;
  margin-right: 10px;
}
