<section> <!-- hero content -->

    <h1>{{ list.heroTitle }}</h1>

</section>

<section class="task-container"> <!-- task list -->

  <div>
    <table class="task-list table">
      <tr>
        <td class="icons">
          <a href ng-click="settings = !settings"></a><i class="material-icons md-36" id="settings" title="Settings">settings</i></a>
          <a href ng-click="addTask = !addTask"><i class="material-icons md-36" title="Create a Task">create</i></a>
          <a href ng-click="deleteTask = !deleteTask"><i class="material-icons md-36" title="Delete a Task">delete</i></a>
          <a ui-sref="history"><i class="material-icons md-36" title="Task History">history</i></a>
        </td>
      </tr>
      <tr>
        <th class="task-heading" colspan="4">Current Tasks</th>
      </tr>
      <tr class="list-headings">
        <th ng-click="sortBy='title';reverse = !reverse">Task</th>
        <th>Note</th>
        <th ng-click="sortBy='dueDate';reverse = !reverse">Due</th>
        <th><i class="material-icons md-36" id="completed" title="Completed">done</i></th>
      </tr>
      <tr ng-repeat="task in list.tasks | orderBy:sortBy:reverse" ng-hide="list.shouldHideTask(task) || task.completed">
        <td class="col-md-4" id="title">{{ task.title }}</td>
        <td class="col-md-6" id="desc">{{ task.description }}</td>
        <td class="col-md-2" id="date">{{ task.dueDate | date: 'shortDate' }}</td>
        <td class="col-md-2" id="done">
          <label>
            <input type="checkbox" class="checkbox" id="done" ng-click="list.toggle(task)">
          </label>
        </td>
      </tr>
    </table>
  </div>

</section>

<section id="form" class="add-tasks"> <!-- create new tasks -->

  <hr></hr>

  <form class="form-group" ng-show="addTask">
    <a href ng-click="addTask = !addTask"><i class="material-icons md-36" title="Close">clear</i></a>
    </br>
    <h2>Create a New Task</h2>
    <hr></hr>
    <label class="label-text">Title:</label>
    <input type="text" ng-model="list.newTask.title">
    <label class="label-text">Note:</label>
    <input type="text" ng-model="list.newTask.description">
    <label class="label-text">Date Due:</label>
    <input type="date" ng-model="list.newTask.dateObject" placeholder="mm/dd/yyyy">

    <div class="button-group">
      <button type="button" name="button" class="btn" ng-click="list.createTask(list.newTask)">Create</button>
    </div>
  </form>

  <form class="form-group" ng-show="deleteTask">
    <a href ng-click="deleteTask = !deleteTask"><i class="material-icons md-36" title="Close">clear</i></a>
    </br>
    <h2>Delete Checked Tasks</h2>
    <hr></hr>
    <i class="material-icons md-36" id="warning" title="Warning!">warning</i>
    <h4>Warning:  You will have to recreate these tasks if you need them again!</h4>
    <br></br>
    <div class="button-group">
      <button type="button" name="button" class="btn" ng-click="list.removeTask(list.newTask)">Delete</button>
    </div>
  </form>

<!-- <pre>
  {{ list.newTask | json }}
</pre> -->

</section>
